.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
    
  .card-img-caption .card-img-top {
    z-index: 0;
  }
      
  .card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 40% 0;
    position: absolute;
    z-index: 1;
  }

  .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}