.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
    
  .card-img-caption .card-img-top {
    z-index: 0;
  }
      
  .card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 40% 0;
    position: absolute;
    z-index: 1;
  }

  .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

/* responsively enforce wrapping */
.card-deck span {
    display: none;
}

@media (min-width:1200px){
  .card-deck span:nth-of-type(5n) {
    display: block;
    width: 100%;
  }
  
}
@media (min-width:992px) and (max-width: 1199px) {
 .card-deck span:nth-of-type(4n) {
    display: block;
    width: 100%;
  }
  
}
@media (min-width:768px) and (max-width: 991px) {
  .card-deck span:nth-of-type(3n) {
    display: block;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card-deck span:nth-of-type(2n) {
    display: block;
    width: 100%;
  }
}


/* add css for margin fix -- this will not be needed after beta */
.card-deck .card {
  margin-left: 15px;
  margin-right: 15px;
}

.card-deck .card:not(:last-child) {
  margin-right: 15px;
}